*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #222;
}
body
{
    display: flex;
    justify-content: center;
    place-items: center;
    flex-direction: column;
    padding-top: 2rem;
}
h2
{
    font-size: 4rem;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Silkscreen', cursive;
    color: #00ff40;
    text-shadow: 2px 2px 15px #00ff00;
}
#winner
{
    color: #fff; 
    font-size: 2rem; 
    margin-top: 1rem;
    font-family: 'Silkscreen', cursive;
    text-transform: capitalize;
    display: none;
}
.content
{
    display: flex;
    place-items: center;
    justify-content: center;
    flex-direction: column;
}
.form
{
   margin: 3rem; 
   display: flex;
   flex-direction: column;
}
.form label
{
    font-size: 1.5rem;
    color: cyan;
    line-height: 2rem;
    font-family: 'VT323', monospace;
}
.form input
{
    padding: 0.5rem;
    font-size: 1.3rem;
    color: #00ffff;
    border: 2px solid #00ffff;
    border-radius: 8px;
    background-color: transparent;
}
.form #start
{
    padding: 0.7rem 0;
    background-color: #00ffff;
    color: #222;
    transition: 0.4s ease-in;
    font-family: 'VT323', monospace;
}
.form #start:hover
{
    background-color: transparent;
    color: #00ffff;
    transition: 0.4s ease-in;
}
.gameDiv
{
    display: flex;
    justify-content: center;
    place-items: center;
    visibility: hidden;
    margin-top: -13rem;
}
.result
{
    display: flex;
    flex-direction: column;
    margin:-9rem 0 0 4rem;
}
.row
{
    display: grid;
    grid-template-rows: repeat(2,1fr);
}
.row .col
{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.row .col span
{
    border: 2px solid #00ff00;
    padding: 1rem 0.5rem;
    text-align: center;
    color: #fff;
    font-size: 1.5rem;
    text-transform: capitalize;
}
.btn
{
    display: flex;
    margin-top: 2rem;
    width: 200px;
    flex-direction: column;
    justify-content: space-around;
    place-content: center;
}
.btn input
{
    background-color: #00ff40;
    border: 1px solid #00ff40;
    padding: 1rem;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 1rem;
    font-weight: 800;
    transition: 0.5s ease;
}
.btn input:hover
{
    background-color: transparent;
    color: #00ff40;
    transition: 0.5s ease;
}
.container
{
    width: 450px;
    height: 450px; 
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}
.cell
{
    border-bottom: 10px groove #00ff00;
    border-right: 10px groove #00ff00;
    color: #fff;
    font-family: 'Finger Paint', cursive;
    font-size: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cell:hover
{
    background-color: #444;
}
.cell:nth-child(3n)
{
    border-right: none;
}
.cell:nth-child(n+7)
{
    border-bottom: none;
}



/* media queries */
@media screen and (max-width: 480px)
{
    body
    {
        margin: auto 2rem;
    }
    h2
    {
        font-size: 3rem;
    }
    #winner
    {
        font-size: rem; 
    }
    .form
    {
        min-width: 100px;
        margin: 3rem 4rem;
    }
    .gameDiv
    {
        flex-direction: column;
    }
    .container
    {
        width: 270px;
        height: 270px;
    }
    .cell 
    {
        width: 90px;
        height: 90px;
        font-size: 3rem;
    }
    .result 
    {
        flex-direction: row;
        margin: 4rem;
    }
    .row
    {
        min-width: 200px;
        height: fit-content;
    }
    .btn 
    {
        min-width: 200px;
        margin-left: 2rem;
        margin-top: 0.1rem;
    }
    .row .col span
    {
        font-size: 1.4rem;
    }
}